<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="hw21century.LIB.IMessageHandler, hw21century.LIB" mapTo="hw21century.LIB.Console.ConsoleMessageHandler, hw21century.LIB" />
      <register type="hw21century.LIB.ITextWriter, hw21century.LIB" mapTo="hw21century.LIB.Console.ConsoleTextWriter, hw21century.LIB" />
    </container>
  </unity>
</configuration>